@charset "utf-8";
@font-face {
  font-family: "Square721 BT Roman";
  src: url("https://db.onlinewebfonts.com/t/7b6a3052ac99368df5c80f3fd161fe32.eot");
  src: url("https://db.onlinewebfonts.com/t/7b6a3052ac99368df5c80f3fd161fe32.eot?#iefix") format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/7b6a3052ac99368df5c80f3fd161fe32.woff2") format("woff2"),
  url("https://db.onlinewebfonts.com/t/7b6a3052ac99368df5c80f3fd161fe32.woff") format("woff"),
  url("https://db.onlinewebfonts.com/t/7b6a3052ac99368df5c80f3fd161fe32.ttf") format("truetype"),
  url("https://db.onlinewebfonts.com/t/7b6a3052ac99368df5c80f3fd161fe32.svg#Square721 BT Roman") format("svg");
}

@font-face {font-family: "Square721 BT Bold";
    src: url("https://db.onlinewebfonts.com/t/71b14c7b971cf8d9493bbc5883cb158f.eot");
    src: url("https://db.onlinewebfonts.com/t/71b14c7b971cf8d9493bbc5883cb158f.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/71b14c7b971cf8d9493bbc5883cb158f.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/71b14c7b971cf8d9493bbc5883cb158f.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/71b14c7b971cf8d9493bbc5883cb158f.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/71b14c7b971cf8d9493bbc5883cb158f.svg#Square721 BT Bold") format("svg");
}

.z-depth-1 {
  position: relative;
  z-index: 1;
}

.no-padding { padding: 0; }

.no-pad-left { padding-left: 0; }

.no-pad-right { padding-right: 0; }

.border-bottom-white { border-bottom: 3px solid #fff; }

.navbar-h { height: 43px; }

.square-bold {
  position: relative;
  top: -4px;
  display: inline-block;
  margin-left: 16px;
  font-family: 'Square721 BT Bold';
  font-size: 36px;
  color: rgba(0,0,0,.87);
  transform: scale(1.1,.8);
}

.square-bold:focus,
.square-bold:hover,
.know-more:focus,
.know-more:hover {
  text-decoration: none;
  color: rgba(0,0,0,.87);
}

#nav-tab-row { transition: background-color 400ms; }

#nav-tab-row:hover,
.white-opacity-78 { background-color: rgba(255,255,255,.78); }

.full-w { width: 100%; }

.nav-tab {
  font-family: 'Square721 BT Roman';
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 200ms;
}

.nav-tab:hover,
.nav-tab:focus,
.dropdown-menu.custom > li > a:focus,
.dropdown-menu.custom > li > a:hover {
  color: #337ab7;
  text-decoration: underline;
}

.nav-tab.dropdown:hover .dropdown-menu { display: block; }

.dropdown-menu.custom { border: none; }

.m-top13px { margin-top: 13px; }

.m-top5px { margin-top: 5px; }

.m-top-n118px { margin-top: -118px; }

.radical-text {
  font-family: 'Square721 BT Roman';
  font-size: 21px;
  color: rgba(0,0,0,.87);
}

.radical-text .heading { font-size: 32px; }

.know-more {
  font-size: 16px;
  color: rgba(0,0,0,.87);
  text-decoration: underline !important;
}
